@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz;
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf") format("opentype");
  }

  @font-face {
    font-family: Akzidenz;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/akzidenz/AkzidenzGroteskPro-Md.otf") format("opentype");
  }

  @font-face {
    font-family: Akzidenz;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf")
      format("opentype");
  }

  html {
    font-family: Akzidenz, system-ui, sans-serif;
  }
}

@layer components {
  #app {
    @apply h-screen max-w-full px-3 flex flex-col justify-center items-center dark:text-white dark:bg-zinc-800 ;
  }

  .mainText {
    @apply text-2xl flex flex-col sm:text-4xl md:text-5xl font-bold text-center;
  }

  #game {
    @apply mt-10 flex flex-col items-center;
  }

  #start-game {
    @apply bg-slate-200 dark:bg-indigo-500 dark:hover:bg-indigo-600 hover:bg-zinc-300 rounded-md font-medium px-5 py-2;
  }

  .placeholders-wrapper {
    @apply flex flex-row gap-1 mx-3 max-w-full;
  }
  
  .letter {
    @apply mx-1 text-3xl font-medium;
  }

  .long-word .letter {
    @apply text-sm sm:text-2xl md:text-2xl;
  }

  .longlong-word .letter {
    @apply text-sm sm:text-xl md:text-2xl;
  }

  #header {
    @apply flex flex-row justify-between items-center w-full bg-white;
  }

  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }

  .logo-sm {
    @apply text-xl absolute float-right top-11;
  }

  .button-primary {
    @apply flex justify-center items-center bg-slate-200
    dark:bg-indigo-500 enabled:dark:hover:bg-indigo-600 enabled:hover:bg-zinc-300
    rounded-md font-medium px-3 py-2 m-1 disabled:opacity-20;
  }

  .button-secondary {
    @apply border border-black rounded-md hover:bg-slate-100 dark:border-white dark:hover:bg-zinc-500;
  }



  .keyboard {
    @apply max-w-2xl mt-5 flex flex-wrap justify-center mx-2;
  }

  .keyboard-button {
    @apply w-10 h-10 sm:w-14 sm:h-14 m-1 sm:m-2;
  }
  
  .hangman-img {
    @apply mt-5 w-32 h-32 sm:w-60 sm:h-60;
  }
}
